<!DOCTYPE html>
<html lang="en">
<head>
    <title>First View</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>This page is rendered as a Django Template</p>
    <br><br>
    <button style='background-color:red' onclick='increase()'>Hello World</button>
    <br><br>
    <input></input>
    <br><br>
    <select></select>
    <h3>Happy Learning :)</h3>
</body>
<script>
    var counter = 0;
    var increase = function() {
        alert(`Hello html world! Clicked ${++counter} times.`);                    
    }                    
</script>
</html>